<script setup lang="ts">
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useMappingStore } from '../../stores/mapping'
import type { VForm } from 'vuetify/components'

const mappingStore = useMappingStore()
const form = ref<VForm | null>(null)

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    await mappingStore.saveMapping()
  }
}
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="mappingStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง Mapping</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="Auto">
                  <v-combobox
                    label="เลือกอาชีพที่จะ Mapping"
                    v-model="mappingStore.editedMapping.jobId"
                    :items="mappingStore.mappings.map((mapping) => mapping.jobId)"
                  ></v-combobox>
                  <!-- //เรียกข้อมูลออกมา -->
                </v-col>

                <v-col cols="Auto">
                  <v-list lines="three" select-strategy="classic">
                    <v-list-subheader>เลือก Skill ที่จะ Mapping</v-list-subheader>

                    <v-list-item v-for="mapping in mappingStore.mappings" :key="mapping.skillId">
                      <template v-slot:prepend="{ isActive }">
                        <v-list-item-action start>
                          <v-checkbox-btn
                            :model-value="isActive"
                            v-model="mappingStore.editedMapping.skillId"
                          ></v-checkbox-btn>
                        </v-list-item-action>
                      </template>

                      <v-list-item-title>{{ mapping.skillId }}</v-list-item-title>

                      <!-- <v-list-item-subtitle>{{ mapping.skillDescription }}</v-list-item-subtitle> -->
                    </v-list-item>
                  </v-list>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="mappingStore.dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>



<style scoped></style>
