<script  lang="ts" setup>
import { useMappingStore } from '../../stores/mapping'
import type Mapping from '../../types/Mapping'
import { mdiDelete, mdiPencil, mdiPlus, mdiCloseCircle, mdiMagnify } from '@mdi/js'
import { computed, onMounted, ref } from 'vue'
import MappingDialog from './MappingDialog.vue'
const mappingStore = useMappingStore()

const addNewMapping = () => {
  mappingStore.dialog = true
}
const editMapping = (mapping: Mapping) => {
  mappingStore.editMapping(mapping)
  mappingStore.dialog = true
}
const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  mappingStore.deleteMapping(id)
  closeDeleteConfirmation()
}

const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

const mappingList = computed(() => {
  return mappingStore.mappings.filter((item) => {
    return `${item.jobId}`.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
  })
})

onMounted(async () => {
  await mappingStore.getMappings()
})
</script>

<template>
  <v-container>
    <MappingDialog></MappingDialog>
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn color="#00B15A" :prepend-icon="mdiPlus" @click="addNewMapping" :disabled="role != 'Admin'">Add New</v-btn>
      </v-col>
      <v-text-field
        :prepend-inner-icon="mdiMagnify"
        label="Search"
        v-model="searchText"
      ></v-text-field>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr>
              <th>ID</th>
              <th>ชื่อวิชา (ภาษาอังฤษ)</th>
              <th>ชื่อสกิล (ภาษาอังฤษ)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of mappingList" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ `${item.jobId}` }}</td>
              <td>{{ `${item.skillId}` }}</td>
              <!-- `${item.jobId}` ทำให้ค่า jobId และ SkillId ถูกแปลงเป็นสตริงเมื่อแสดงใน HTML template -->
              <v-dialog v-model="popupVisible" max-width="400">
                <v-card>
                  <v-card-title>Description</v-card-title>
                  <v-card-text>{{ popupContent }}</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closePopup">ปิด</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <!-- Modify this part of your template -->
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  :disabled="role != 'Admin'"
                  @click="mappingStore.editMapping(item)"
                ></v-btn>
                <v-btn
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  :disabled="role != 'Admin'"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="mappingList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
</style>
