<script setup lang="ts">
import { useResultStore } from '../../stores/result'
import type Result from '../../types/Result';
import { computed, onMounted, ref } from 'vue';
import { mdiDelete ,mdiMagnify  , mdiMenuLeft, mdiMenuRight} from '@mdi/js'

const resultStore = useResultStore()
const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role
const username = JSON.parse(localStorage.getItem('user')!).name
const resultList = computed(() => {
  return resultStore.results.filter((item) => {
    if (typeof item.course === 'string' && typeof searchText.value === 'string') {
      const searchTextString = searchText.value.toString().toLowerCase() // แปลงค่าเป็น string และเปลี่ยนเป็นตัวพิมพ์เล็กทั้งหมด
      const courseLowerCase = item.course.toLowerCase()
      const studentIdLowerCase = item.idstudent.toLowerCase() // สมมติว่ามี property ชื่อ studentId สำหรับรหัสนิสิต
      
      // ค้นหาด้วยรหัสวิชาหรือรหัสนิสิต
      return courseLowerCase.includes(searchTextString) || studentIdLowerCase.includes(searchTextString)
    }
    return false
  })
})

const itemsPerPage = 20
const currentPage = ref(1)

// Assuming Result is a computed property from your store

const totalPages = computed(() => Math.ceil(resultList.value.length / itemsPerPage))

const  paginatedResults= computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return resultList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}


onMounted(async () => {
 
  if(role ==='student'){
    await resultStore.getResultByStudent(username) 
  }else{
     await resultStore.getResults()
  }
})
const deleteResult = (index: number): void => {
  resultStore.deleteResult(index)
}

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  resultStore.deleteResult(id)
  closeDeleteConfirmation()
}
console.log(deleteResult)
</script>

<template>
  <v-container>
    <h1 style="color: black; text-align:center">Summary Information</h1>
    <v-row>
      <v-col cols="3" offset="9">
        <!-- <v-btn color="#00B15A" :prepend-icon="mdiPlus" @click="addNewResult">Add New</v-btn> -->
      </v-col>
      <v-col>
        <v-text-field
          :prepend-inner-icon="mdiMagnify"
          label="Search "
          v-model="searchText"
        ></v-text-field> 
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr class="bg-blue-darken-4">
              <!-- <th class="font-weight-black">ID</th> -->
              <th class="font-weight-black">รหัสวิชา</th>
              <th class="font-weight-black">รหัสนิสิต</th>
              <th class="font-weight-black">Main Skill </th>
              <th class="font-weight-black">Main Skill Level</th>
              <th class="font-weight-black">Soft Skill </th>
              <th class="font-weight-black" >Soft Skill Level</th>
              <th></th>
              <th class="font-weight-black" v-if="role === 'Admin' || role === 'teacher'" >Operations</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedResults" :key="item.id" class="bg-grey-lighten-5" >
              <!-- <td>{{ item.id }}</td> -->
              <td>{{ item.course }}</td>
              <td>{{ item.idstudent }}</td>
              <td>{{ item.namemainEng }}</td>
              <td>{{ item.alllevel }}</td>
              <td>{{ item.namegeneral }}</td>
              <td>{{ item.genlevel }}</td>
              <td ></td>
              <!-- Modify this part of your template -->
              <td>
                <v-btn
                v-if="role === 'Admin' || role === 'teacher'"
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="resultList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>

      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>