<script setup lang="ts" >
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useMainskillmappingStore } from '../../stores/mainskillmapping'
import type { VForm } from 'vuetify/components'

const mainskillmappingStore = useMainskillmappingStore()
const form = ref<VForm | null>(null)
const radios = ref<string>('')

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    const res = await mainskillmappingStore.saveMainskillmapping()
  }
}
</script>
<template >
  <v-row justify="center">
    <v-dialog v-model="mainskillmappingStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง Main skill mapping</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Name skill *"
                    v-model="mainskillmappingStore.editedMainskillmapping.PLO_id"
                    :rules="[
                      (v) => v.length >= 5 || 'Name skill จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="Name skill *"
                    v-model="mainskillmappingStore.editedMainskillmapping.namemainEng"
                    :rules="[
                      (v) => v.length >= 5 || 'Name skill จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    :clear-icon="mdiCloseCircle"
                    label="Level*"
                    v-model="mainskillmappingStore.editedMainskillmapping.level"
                    required
                  ></v-textarea>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    :clear-icon="mdiCloseCircle"
                    label="รหัสวิชา*"
                    v-model="mainskillmappingStore.editedMainskillmapping.course"
                    :rules="[
                      (v) => v.length >= 5 || 'รหัสวิชา จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัว'
                    ]"
                    required
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="mainskillmappingStore.dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 