<script setup lang="ts">
import { useMainskillmappingStore } from '../../stores/mainskillmapping'
import type Mainskillmapping from '../../types/Mainskillmapping'
import { mdiDelete, mdiPencil, mdiPlus, mdiMagnify , mdiMenuLeft, mdiMenuRight} from '@mdi/js'
import { computed, onMounted, ref } from 'vue'
import MainSkillMappingDialog from './MainSkillMappingDialog.vue' // เพิ่มบรรทัดนี้
const mainskillmappingStore = useMainskillmappingStore()
const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

const mainskillmappingList = computed(() => {
  return mainskillmappingStore.mainskillmappings.filter((item) => {
    if (typeof item.course === 'string' && typeof searchText.value === 'string') {
      const searchTextString = searchText.value.toString().toLowerCase() // แปลงค่าเป็น string และเปลี่ยนเป็นตัวพิมพ์เล็กทั้งหมด
      const courseLowerCase = item.course.toLowerCase()
      const nameLowerCase = item.namemainEng.toLowerCase() // สมมติว่ามี property ชื่อ studentId สำหรับรหัสนิสิต
      const polLowerCase = item.PLO_id.toLowerCase()
      // ค้นหาด้วยรหัสวิชาหรือรหัสนิสิต
      return (
        courseLowerCase.includes(searchTextString) ||
        nameLowerCase.includes(searchTextString) ||
        polLowerCase.includes(searchTextString)
      )
    }
    return false
  })
})

onMounted(async () => {
  await mainskillmappingStore.getMainskillmappings()
})

const deleteMainskillmapping = (index: number): void => {
  mainskillmappingStore.deleteMainskillmapping(index)
}

const addNewMainskillmapping = () => {
  mainskillmappingStore.dialog = true
}
const editMainskillmapping = (mainskillmapping: Mainskillmapping) => {
  mainskillmappingStore.editMainskillmapping(mainskillmapping)
  mainskillmappingStore.dialog = true
}

const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  mainskillmappingStore.deleteMainskillmapping(id)
  closeDeleteConfirmation()
}
const itemsPerPage = 20
const currentPage = ref(1)

// Assuming Mainskilmapping is a computed property from your store

const totalPages = computed(() => Math.ceil(mainskillmappingList.value.length / itemsPerPage))

const paginatedMainskillmappings = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return mainskillmappingList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}

</script>


<template>
  <v-container>
    <h1 style="color: black; text-align: center">Main skill mapping</h1>
    <MainSkillMappingDialog></MainSkillMappingDialog>
    <v-row>
      <v-col cols="3" offset="9">
        <!--  <v-btn color="#00B15A" :prepend-icon="mdiPlus" @click="addNewMainskillmapping"
          >Add New</v-btn 
        > -->
      </v-col>
      <v-col cols="8" offset="0">
        <v-text-field
          class="ma-3"
          :prepend-inner-icon="mdiMagnify"
          label="Search"
          v-model="searchText"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr class="bg-blue-darken-4">
              <th class="font-weight-black">ID</th>
              <th class="font-weight-black">PLO</th>
              <th class="font-weight-black">ชื่อสกิล</th>
              <th class="font-weight-black">Level</th>
              <th class="font-weight-black">รหัสวิชา</th>
              <th class="font-weight-black" v-if="role === 'Admin'">Operations</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedMainskillmappings" :key="item.id" class="bg-grey-lighten-5">
              <td>{{ item.id }}</td>
              <td>{{ item.PLO_id }}</td>
              <!-- แสดงข้อมูลชื่อสกิลที่มาจาก inner join -->
              <td>{{ item.namemainEng }}</td>
              <!-- แสดงข้อมูล Level ที่มาจาก inner join -->
              <td>{{ item.level }}</td>
              <!-- แสดงข้อมูลรหัสวิชาที่มาจาก inner join -->
              <td>{{ item.course }}</td>
              <td v-if="role === 'Admin'"></td>
              <v-dialog v-model="popupVisible" max-width="400">
                <v-card>
                  <v-card-title>Description</v-card-title>
                  <v-card-text>{{ popupContent }}</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closePopup">ปิด</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <!-- Modify this part of your template -->
              <td>
                <v-btn
                  v-if="role === 'Admin'"
                  :icon="mdiPencil"
                  color="#00B15A"
                  class="ma-1"
                  @click="mainskillmappingStore.editMainskillmapping(item)"
                ></v-btn>
                <v-btn
                  v-if="role === 'Admin'"
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="mainskillmappingList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>

      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>