<script setup lang="ts">
import { useMainskillStore } from '../../stores/mainskill'
import type Mainskill from '../../types/Mainskill'
import { mdiDelete, mdiPencil, mdiPlus, mdiMagnify, mdiMenuLeft, mdiMenuRight } from '@mdi/js'
import { computed, onMounted, ref } from 'vue'
import MainSkillDialog from './MainSkillDialog.vue'
const mainskillStore = useMainskillStore()
const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

// const deleteMainskill = (index: number): void => {
//   mainskillStore.deleteMainskill(index)
// }

const addNewMainskill = () => {
  mainskillStore.dialog = true
}
const editMainskill = (mainskill: Mainskill) => {
  mainskillStore.editMainskill(mainskill)
  mainskillStore.dialog = true
}

const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  mainskillStore.deleteMainskill(id)
  closeDeleteConfirmation()
}
const mainskillList = computed(() => {
  return mainskillStore.mainskills.filter((item) => {
    return item.namemainEng.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
  })
})

const itemsPerPage = 20
const currentPage = ref(1)

// Assuming mainskill is a computed property from your store

const totalPages = computed(() => Math.ceil(mainskillList.value.length / itemsPerPage))

const paginatedMainskills = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return mainskillList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}

onMounted(async () => {
  await mainskillStore.getMainskills()
})
</script>

<template>
  <v-container>
    <h1 style="color: black; text-align: center">Main skill</h1>
    <MainSkillDialog></MainSkillDialog>
    <v-row>
      <v-col cols="8" offset="0">
        <v-text-field
          class="ma-3"
          :prepend-inner-icon="mdiMagnify"
          label="Search"
          v-model="searchText"
        ></v-text-field>
      </v-col>
      <v-col class="ma-5" cols="3" offset="0">
        <v-btn
          v-if="role === 'Admin'"
          color="#00B15A"
          :prepend-icon="mdiPlus"
          @click="addNewMainskill"
          >Add New</v-btn
        >
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr class="bg-blue-darken-4">
              <th class="font-weight-black">ID</th>
              <th class="font-weight-black">ชื่อสกิล (ภาษาอังฤษ)</th>
              <th class="font-weight-black">ชื่อสกิล (ภาษาไทย)</th>
              <th class="font-weight-black" v-if="role === 'Admin'">Operations</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedMainskills" :key="item.id" class="bg-grey-lighten-5">
              <td>{{ item.id }}</td>
              <td @click="showPopup(item.descriptionEng)">{{ item.namemainEng }}</td>
              <td @click="showPopup(item.descriptionTh)">{{ item.namemainTh }}</td>
              <td v-if="role === 'Admin'"></td>

              <v-dialog v-model="popupVisible" max-width="400">
                <v-card>
                  <v-card-title>Description</v-card-title>
                  <v-card-text>{{ popupContent }}</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closePopup">ปิด</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Modify this part of your template -->
              <td>
                <v-btn
                  v-if="role === 'Admin'"
                  :icon="mdiPencil"
                  color="#00B15A"
                  class="ma-1"
                  @click="mainskillStore.editMainskill(item)"
                ></v-btn>
                <v-btn
                  v-if="role === 'Admin'"
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="mainskillList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
          v-model="currentPage"
          :length="totalPages"
          :next-icon="mdiMenuRight"
          :prev-icon="mdiMenuLeft"
          @input="updatePage"
        ></v-pagination>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>