<script setup lang="ts">
import { useSkillStore } from '../../stores/skill';
import type Skill from '../../types/Skill';
import { mdiDelete, mdiPencil, mdiPlus, mdiMagnify, mdiMenuLeft, mdiMenuRight } from '@mdi/js';
import { computed, onMounted, ref } from 'vue';
import SkillDialog from './SkillDialog.vue'; 

const skillStore = useSkillStore()
const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

const skillList = computed(() => {
  return skillStore.skills.filter((item) => {
    return item.nameEng.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
  })
})

onMounted(async () => {
  await skillStore.getSkills()
})

const deleteSkill = (index: number): void => {
  skillStore.deleteSkill(index)
}

const addNewSkill = () => {
  skillStore.dialog = true
}
const editSkill = (skill: Skill) => {
  skillStore.editSkill(skill)
  skillStore.dialog = true
}

const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  skillStore.deleteSkill(id)
  closeDeleteConfirmation()
}
const itemsPerPage = 20
const currentPage = ref(1)

// Assuming skill is a computed property from your store

const totalPages = computed(() => Math.ceil(skillList.value.length / itemsPerPage))

const paginatedSkills = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return skillList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}


</script>

<template>
  <v-container>
    <SkillDialog></SkillDialog>
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn color="#00B15A" :prepend-icon="mdiPlus" @click="addNewSkill">Add New</v-btn>
      </v-col>
      <v-col>
        <v-text-field
          :prepend-inner-icon="mdiMagnify"
          label="Search "
          v-model="searchText"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr >
              <th>ID</th>
              <th>ชื่อสกิล (ภาษาอังฤษ)</th>
              <th>ชื่อสกิล (ภาษาไทย)</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedSkills " :key="item.id">
              <td>{{ item.id }}</td>
              <td @click="showPopup(item.descriptionEng)">{{ item.nameEng }}</td>
              <td @click="showPopup(item.descriptionTh)">{{ item.nameTh }}</td>

              <v-dialog v-model="popupVisible" max-width="400">
                <v-card>
                  <v-card-title>Description</v-card-title>
                  <v-card-text>{{ popupContent }}</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closePopup">ปิด</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Modify this part of your template -->
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="secondary"
                  class="ma-1"
                  @click="skillStore.editSkill(item)"
                ></v-btn>
                <v-btn
                  :icon="mdiDelete"
                  color="error"
                  class="ma-1"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="skillList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>

      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>