<script setup lang="ts" >
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useSkillStore } from "../../stores/skill";
import type { VForm } from 'vuetify/components'


const skillStore = useSkillStore()
const form = ref<VForm | null>(null);
const radios = ref< string>('');

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    radios.value = radios.value === 'Main' ? '1' : '0';
    const res = await skillStore.saveSkill();
}
}

</script>
<template >
  <v-row justify="center">
    <v-dialog v-model="skillStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง Skill</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="NameEng (ชื่อภาษาอังฤษ)*"
                    v-model="skillStore.editedSkill.nameEng"
                    :rules="[
                      (v) => v.length >= 5 || 'NameEng จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="NameTh (ชื่อภาษาไทย)*"
                    v-model="skillStore.editedSkill.nameTh"
                    :rules="[
                      (v) => v.length >= 5 || 'NameTh จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    :clear-icon="mdiCloseCircle"
                    label="คำอธิบายทักษะ (ภาษาอังกฤษ)*"
                    v-model="skillStore.editedSkill.descriptionEng"
                    :rules="[
                      (v) =>
                        v.length >= 5 || 'DescriptionEngจะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-textarea>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    :clear-icon="mdiCloseCircle"
                    label="คำอธิบายทักษะ (ภาษาไทย)*"
                    v-model="skillStore.editedSkill.descriptionTh"
                    :rules="[
                      (v) =>
                        v.length >= 5 || 'DescriptionTh จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-textarea>
                </v-col>
                <v-col>
                  <p>เลือกกลุ่มของ skill </p>
                  <v-radio-group v-model="skillStore.editedSkill.mainSkill" inline>
                    <v-radio  label="Main Skill" value="Main"></v-radio>
                    <v-radio label="General skill" value="General"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="skillStore.dialog = false"> Close </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 