<script setup lang="ts" >
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useJobStore } from '../../stores/job'
import type { VForm } from 'vuetify/components'
const jobStore = useJobStore()
const form = ref<VForm | null>(null)

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    await jobStore.saveJob()
  }
}

</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="jobStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง Job</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="NameEng (ชื่อภาษาอังฤษ)*"
                    v-model="jobStore.editedJob.nameEng"
                    :rules="[
                      (v) => v.length >= 5 || 'NameEng จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="NameTh (ชื่อภาษาไทย)*"
                    v-model="jobStore.editedJob.nameTh"
                    :rules="[
                      (v) => v.length >= 5 || 'NameTh จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    clear
                    :icon="mdiCloseCircle"
                    label="คำอธิบายอาชีพ (ภาษาอังกฤษ)*"
                    v-model="jobStore.editedJob.descriptionEng"
                    :rules="[
                      (v) =>
                        v.length >= 5 || 'DescriptionEng จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-textarea>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    clear
                    :icon="mdiCloseCircle"
                    label="คำอธิบายอาชีพ (ภาษาไทย)*"
                    v-model="jobStore.editedJob.descriptionTh"
                    :rules="[
                      (v) =>
                        v.length >= 5 || 'DescriptionTh จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="jobStore.dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 