<script setup lang="ts">
import { useGeneralskillStore } from '../../stores/generalskill'
import type Generalskill from '../../types/Generalskill'
import { mdiDelete, mdiPencil, mdiPlus, mdiMagnify , mdiMenuLeft, mdiMenuRight} from '@mdi/js'
import { computed, onMounted, ref } from 'vue'
import GeneralSkillDialog from './GeneralSkillDialog.vue'
const generalskillStore = useGeneralskillStore()
const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

const generalskillList = computed(() => {
  return generalskillStore.generalskills.filter((item) => {
    return item.namegeneral.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
  })
})

onMounted(async () => {
  await generalskillStore.getGeneralskills()
})

const deleteGeneralskill = (index: number): void => {
  generalskillStore.deleteGeneralskill(index)
}

const addNewGeneralskill = () => {
  generalskillStore.dialog = true
}
const editGeneralskill = (generalskill: Generalskill) => {
  generalskillStore.editGeneralskill(generalskill)
  generalskillStore.dialog = true
}

const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  generalskillStore.deleteGeneralskill(id)
  closeDeleteConfirmation()
}

const itemsPerPage = 20
const currentPage = ref(1)

// Assuming generalskill is a computed property from your store

const totalPages = computed(() => Math.ceil(generalskillList.value.length / itemsPerPage))

const paginatedGeneralskills = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return generalskillList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}

</script>

<template>
  <v-container>
    <h1 style="color: black; text-align: center">General skill</h1>
    <GeneralSkillDialog></GeneralSkillDialog>
    <v-row >
      <v-col cols="8" offset="0">
        <v-text-field class="ma-3"
        :prepend-inner-icon="mdiMagnify"
        label="Search"
        v-model="searchText"
      ></v-text-field>
    </v-col>
      <v-col class="ma-5" cols="3" offset="0">
        <v-btn  v-if="role === 'Admin'" color="#00B15A" :prepend-icon="mdiPlus" @click="addNewGeneralskill">Add New</v-btn>
      </v-col> 
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr class="bg-blue-darken-4">
              <th class="font-weight-black">ID</th>
              <th class="font-weight-black">ชื่อสกิล (ภาษาอังฤษ)</th>
              <th class="font-weight-black">คำอธิบาย (ภาษาไทย)</th>
              <th class="font-weight-black" v-if="role === 'Admin'">Operations</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedGeneralskills" :key="item.id" class="bg-grey-lighten-5">
              <td>{{ item.id }}</td>
              <td>{{ item.namegeneral }}</td>
              <td>{{ item.generaldescription }}</td>
              <td v-if="role === 'Admin'"></td>
              <v-dialog v-model="popupVisible" max-width="400">
                <v-card>
                  <v-card-title>Description</v-card-title>
                  <v-card-text>{{ popupContent }}</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closePopup">ปิด</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Modify this part of your template -->
              <td>
                <v-btn
                v-if="role === 'Admin'"
                  :icon="mdiPencil"
                  color="#00B15A"
                  class="ma-1"
                  @click="generalskillStore.editGeneralskill(item)"
                ></v-btn>
                <v-btn
                v-if="role === 'Admin'"
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="generalskillList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>

      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>