<script setup lang="ts">
import { ref } from 'vue'
import { RouterView } from 'vue-router'
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  mdiAccount,
  mdiAccountMultiple,
  mdiStar,
  mdiBookEdit,
  mdiLibrary,
  mdiAccountGroup,
  mdiMapPlus,
  mdiReorderHorizontal,
  mdiBadgeAccountHorizontal,
  mdiBookmarkBoxMultiple,
  mdiChartArc,
  mdiAccountCircle,
  mdiFolderAccount,
  mdiChartAreasplineVariant,
  mdiChartPie,
  mdiAccountMultiplePlus,
  mdiAlphaPCircle,
  mdiCheckDecagram,
  mdiAccountGroupOutline
} from '@mdi/js'
import { useAuthStore } from '../stores/auth'
import { useLoginStore } from '../stores/login'

const authStore = useAuthStore()
const LoginStore = useLoginStore()
const role = JSON.parse(localStorage.getItem('user')!).role

const theme = ref('light')

function onClick() {
  theme.value = theme.value === 'light' ? 'dark' : 'light'
}
const logout = () => {
  authStore.logout()
}

const drawer = ref(true)
const rail = ref(true)
</script>

<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight" @click="onClick"
        >Toggle Theme</v-btn
      >
      <v-btn @click="logout">Logout</v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false">
      <v-list>
        <v-list-item :prepend-icon="mdiReorderHorizontal" @click.stop="rail = !rail"></v-list-item>
      </v-list>
      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiBookEdit"
          title="Subject"
          value="subject"
          to="/subject"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiLibrary"
          title="Main Skill"
          value="mainskill"
          to="/mainskill"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiLibrary"
          title="General Skill"
          value="generalskill"
          to="/generalskill"
          @click.stop="rail = rail"
        ></v-list-item>
        <!-- <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiLibrary"
          title="Main Skill Mapping"
          value="mainskillmapping"
          to="/mainskillmapping"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiLibrary"
          title="General Skill Mapping"
          value="generalskillmapping"
          to="/generalskillmapping"
          @click.stop="rail = rail"
        ></v-list-item> -->

        <!-- <v-list-item
          :prepend-icon="mdiChartPie"
          title="Mapping"
          value="Mapping"
          to="/mapping"
          @click.stop="rail = rail"
        ></v-list-item> -->
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiAlphaPCircle"
          title="PLO"
          value="PLO"
          to="/plo"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiLibrary"
          title="Main Skill Mapping"
          value="mainskillmapping"
          to="/mainskillmapping"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiLibrary"
          title="General Skill Mapping"
          value="generalskillmapping"
          to="/generalskillmapping"
          @click.stop="rail = rail"
        ></v-list-item
        ><v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiAccountGroup"
          title="Job"
          value="job"
          to="/job"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'Admin'"
          :prepend-icon="mdiAccountGroupOutline"
          title="จัดการผู้ใช้งาน"
          value="user"
          to="/user"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'Admin' || role === 'teacher'"
          :prepend-icon="mdiAccountMultiplePlus"
          title="Add Student"
          value="AddStudent"
          to="/addstudent"
          @click.stop="rail = rail"
        ></v-list-item>
        <!-- <v-list-item
          :prepend-icon="mdiBadgeAccountHorizontal"
          title="Information"
          value="information"
          to="/information"
        ></v-list-item> -->
        <v-list-item
          v-if="role === 'Admin' || role === 'teacher'"
          :prepend-icon="mdiCheckDecagram"
          title="Add Skill"
          value="addskill"
          to="/addskill"
          @click.stop="rail = rail"
        ></v-list-item>
        <!-- <v-list-item
        v-if="role === 'Admin' || role === 'teacher'"
          :prepend-icon="mdiChartAreasplineVariant"
          title="Summarize"
          value="summarize"
          to=""
          @click.stop="rail = rail"
        ></v-list-item> -->
        <v-list-item
          v-if="role === 'Admin' || role === 'student' || role === 'teacher'"
          :prepend-icon="mdiChartArc"
          title="Results"
          value="results"
          to="/result"
          @click.stop="rail = rail"
        ></v-list-item>
        <!-- <v-list-item
          v-if="role === 'student'"
          :prepend-icon="mdiAccountCircle"
          title="Profile"
          value="profile"
          to="/profile"
          @click.stop="rail = rail"
        ></v-list-item>
        <v-list-item
          v-if="role === 'student'"
          :prepend-icon="mdiFolderAccount"
          title="Certificates"
          value="certificates"
          to="/certificates"
          @click.stop="rail = rail"
        ></v-list-item> -->
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <RouterView></RouterView>
      <!-- <router-view></router-view> -->
    </v-main>
  </v-app>
</template>
