<script setup>
import { DropDownListComponent as EjsDropdownlist } from '@syncfusion/ej2-vue-dropdowns'

const data = [{ sportsData: ['Badminton', 'Cricket', 'Football', 'Golf', 'Tennis'] }]
</script>
  <template>
  <div id="app">
    <div id="container" style="margin: 50px auto 0; width: 250px">
      <br />
      <ejs-dropdownlist
        id="dropdownlist"
        popupHeight="200px"
        popupWidth="250px"
        :dataSource="data[0].sportsData"
        placeholder="Select a game"
      ></ejs-dropdownlist>
    </div>
  </div>
</template>
  
  <style>
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-vue-dropdowns/styles/material.css';
</style>
<template>
  <div id="app">
    <div id='container' style="margin:50px auto 0; width:250px;">
        <br>
        <ejs-dropdownlist id='dropdownlist' popupHeight="200px" popupWidth="250px" :dataSource='sportsData' placeholder='Select a game'></ejs-dropdownlist>
    </div>
  </div>
</template>
<script>
    import { DropDownListComponent } from "@syncfusion/ej2-vue-dropdowns";
    //Component registeration
    export default {
        name: 'App',
        components: {
            "ejs-dropdownlist": DropDownListComponent
        },
        data (){
            return {
                sportsData: ['Badminton', 'Cricket', 'Football', 'Golf', 'Tennis'],
            }
        }
    }
</script>
<style>
    @import "../node_modules/@syncfusion/ej2-base/styles/material.css";
    @import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
    @import "../node_modules/@syncfusion/ej2-vue-dropdowns/styles/material.css";
</style>