<script setup lang="ts">
import type { VForm } from 'vuetify/components'
import { useAddskillStore } from '../../stores/addskill'
import { onMounted, ref, computed } from 'vue'
import { mdiMenuLeft, mdiMenuRight,mdichevronleft,mdichevronright } from '@mdi/js'
const addskillStore = useAddskillStore()
const searchText = ref('')
const form = ref<VForm | null>(null)

// Declare students only once with the appropriate type
const subjects: import('vue').ComputedRef<
  {
    id?: number
    course: string
    nameEng: string
    nameTh: string
  }[]
> = computed(() => addskillStore.subjects)

// Assuming selectedSubject is a local variable
const selectedSubject = ref('')

const mainskillmappings: import('vue').ComputedRef<
  {
    id?: number
    PLO_id: number
    namemainEng: string
    level: number
    course: string
  }[]
> = computed(() => addskillStore.mainskillmappings)

// Assuming selectedSubject is a local variable
const selectedMainskillmapping = ref('')

const skillmappingBysubject = async () => {
  // console.log(selectedSubject.value)
  const subjectId = selectedSubject.value.split(' ')[0]
  // console.log(subjectId)
  const parseId = parseInt(subjectId)
  // console.log(parseId)
  await addskillStore.getMainskillmappingsBySubjectId(parseId) // ที่นี่เรียกใช้ getMainskillmappingsBySubjectId
  await addskillStore.getGeneralskillmappingsBySubjectId(parseId) // และเรียกใช้ generalskillmappingBysubject โดยทันทีโดยที่ยังไม่รอให้ getMainskillmappingsBySubjectId เสร็จสมบูรณ์
}

const generalskillmappings: import('vue').ComputedRef<
  {
    id?: number
    PLO_id: number
    course: string
    namegeneral: string
    expectLevel: number
  }[]
> = computed(() => addskillStore.generalskillmappings)

// Assuming selectedSubject is a local variable
const selectedGeneralskillmapping = ref('')

// Declare students only once with the appropriate type
const students: import('vue').ComputedRef<
  {
    id?: number
    idstudent: string
    name: string
    lastname: string
    year: string
    mainLevel: string
    generalLevel: string
  }[]
> = computed(() => addskillStore.students)

// Assuming selectedSubject is a local variable
const selectedStudent = ref('')

const yearlist = computed(() => addskillStore.yearlist)

const getstudentByYear = () => {
  addskillStore.getAddstudentByYear(selectedStudent.value)
}
const itemsPerPage = 20
const currentPage = ref(1)

// Assuming students is a computed property from your store

const totalPages = computed(() => Math.ceil(students.value.length / itemsPerPage))

const paginatedStudents = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return students.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}

onMounted(async () => {
  try {
    // เรียกใช้ method จาก store เพื่อโหลดข้อมูล
    await addskillStore.getSubjects()
    await addskillStore.getMainskillmappings()
    await addskillStore.getGeneralskillmappings()
    await addskillStore.getAddstudents()
    await addskillStore.getAddskills()
    await addskillStore.getGeneralskills()
    await addskillStore.getMainskills()
  } catch (error) {
    console.error('Error fetching data:', error)
  }
})

async function save() {
  try {
    // ทำการตรวจสอบว่า selectedSubject มีค่าหรือไม่ และเป็นสตริงที่ไม่ว่างหรือไม่
    if (
      !selectedSubject.value ||
      typeof selectedSubject.value !== 'string' ||
      selectedSubject.value.trim() === ''
    ) {
      throw new Error('Invalid selectedSubject')
    }

    if (
      !selectedMainskillmapping.value ||
      typeof selectedMainskillmapping.value !== 'string' ||
      selectedMainskillmapping.value.trim() === ''
    ) {
      throw new Error('Invalid selectedMainskillmapping')
    }

    if (
      !selectedGeneralskillmapping.value ||
      typeof selectedGeneralskillmapping.value !== 'string' ||
      selectedGeneralskillmapping.value.trim() === ''
    ) {
      throw new Error('Invalid selectedGeneralskillmapping')
    }

    await addskillStore.saveAddskill(
      selectedSubject.value,
      selectedMainskillmapping.value,
      selectedGeneralskillmapping.value
    )
  } catch (error) {
    console.error('Error saving data:', error)
  }
}
</script>

<template>
  <v-container>
    <h1 style="color: black; text-align: center">Add Skills</h1>
    <div style="display: flex; align-items: center" class="ma-2">
      <div style="margin-right: 12px" class="font-weight-black">Subject :</div>
      <v-combobox
        v-model="selectedSubject"
        :items="addskillStore.subjects.map((subjects) => `${subjects.course} ${subjects.nameEng}`)"
        density="comfortable"
        placeholder="เลือกสกิล"
        variant="outlined"
        v-on:update:model-value="skillmappingBysubject"
      >
      </v-combobox>
    </div>

    <div style="display: flex; align-items: center">
      <div style="margin-right: 12px" class="font-weight-black">Mainskill Mappings :</div>
      <v-combobox
        v-model="selectedMainskillmapping"
        :items="
          addskillStore.mainskillmappings.map(
            (mainskillmappings) => `${mainskillmappings.namemainEng}`
          )
        "
        density="comfortable"
        placeholder="เลือกสกิล"
        variant="outlined"
      >
      </v-combobox>
    </div>

    <div style="display: flex; align-items: center">
      <div style="margin-right: 12px" class="font-weight-black">Generalskill Mappings :</div>
      <v-combobox
        v-model="selectedGeneralskillmapping"
        :items="
          addskillStore.generalskillmappings.map(
            (generalskillmappings) => `${generalskillmappings.namegeneral}`
          )
        "
        density="comfortable"
        placeholder="เลือกสกิล"
        variant="outlined"
      >
      </v-combobox>
    </div>

    <div style="display: flex; align-items: center">
      <div style="margin-right: 10px" class="font-weight-black">Year :</div>
      <v-combobox
        v-model="selectedStudent"
        :items="addskillStore.yearlist"
        density="comfortable"
        placeholder="เลือกสกิล"
        variant="outlined"
        v-on:update:model-value="getstudentByYear"
      >
      </v-combobox>
    </div>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-table>
            <thead>
              <tr class="bg-blue-darken-4">
                <th class="font-weight-black">ID</th>
                <th class="font-weight-black">รหัสนิสิต</th>
                <th class="font-weight-black">ชื่อ</th>
                <th class="font-weight-black">นามสกุล</th>
                <th class="font-weight-black">Level</th>
                <th class="font-weight-black">ระดับ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in paginatedStudents" :key="item.id" class="bg-grey-lighten-5">
                <td>{{ item.id }}</td>
                <td>{{ item.idstudent }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.lastname }}</td>
                <td>
                  <v-combobox
                    class="ma-2"
                    v-model="item.mainLevel"
                    :items="['1', '2', '3', '4', '5']"
                    density="comfortable"
                    placeholder="เลือกสกิล"
                    variant="outlined"
                  ></v-combobox>
                </td>
                <td>
                  <v-combobox
                    class="ma-2"
                    v-model="item.generalLevel"
                    :items="['Basic', 'Intermediate', 'Advance']"
                    density="comfortable"
                    placeholder="เลือกสกิล"
                    variant="outlined"
                  >
                  </v-combobox>
                </td>
              </tr>
            </tbody>
            <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn color="#00B15A" variant="tonal" @click="save"> Save </v-btn>
  </v-card-actions>
</template>

<style scoped>
</style>