<script setup lang="ts">
import { useCertificatesStore } from '../../stores/certificates';
import type Certificates from '../../types/Certificates';
import { mdiDelete, mdiPencil, mdiPlus, mdiMagnify } from '@mdi/js';
import { computed, onMounted, ref } from 'vue';
import CertificatesDialog from './CertificatesDialog.vue'; 

const certificatesStore = useCertificatesStore()    
// const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

const certificatesList = computed(() => {
  return certificatesStore.certificates.filter((item) => {
    // return item.nameEng.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
  })
})

onMounted(async () => {
  await certificatesStore.getCertificates()
})

const deleteCertificates = (index: number): void => {
  certificatesStore.deleteCertificates(index)
}

const addNewCertificates = () => {
  certificatesStore.dialog = true
}
const editCertificates = (certificates: Certificates) => {
  certificatesStore.editCertificates(certificates)
  certificatesStore.dialog = true
}

const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  certificatesStore.deleteCertificates(id)
  closeDeleteConfirmation()
}


</script>

<template>
  <v-container>
    <CertificatesDialog></CertificatesDialog>
    <v-row>
      <v-col cols="3" offset="9">
        <v-btn color="#00B15A" :prepend-icon="mdiPlus" @click="addNewCertificates">Add New</v-btn>
      </v-col>
      <v-col>
        <v-text-field
          :prepend-inner-icon="mdiMagnify"
          label="Search "
         
        ></v-text-field> 
        <!-- v-model="searchText" -->
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr >
              <th>ID</th>
              <th>ภาพผลงาน/เกียรติบัติ</th>
              <th>คำอธิบายผลงาน</th>
              <th>ลิ้งสำหรับผลงาน</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of certificatesList" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.image }}</td>
              <td >{{ item.description }}</td>
              <td >{{ item.link }}</td>

              <v-dialog v-model="popupVisible" max-width="400">
                <v-card>
                  <v-card-title>Description</v-card-title>
                  <v-card-text>{{ popupContent }}</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closePopup">ปิด</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Modify this part of your template -->
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="#00B15A"
                  class="ma-1"
                  @click="certificatesStore.editCertificates(item)"
                ></v-btn>
                <v-btn
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="certificatesList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>