<script setup lang="ts" >
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useCertificatesStore } from '../../stores/certificates'
import type { VForm } from 'vuetify/components'

const certificatesStore = useCertificatesStore()
const form = ref<VForm | null>(null)
const radios = ref<string>('')

async function save() {
  const { valid } = await form.value!.validate()
  if (valid) {
    radios.value = radios.value === 'Main' ? '1' : '0'

    const res = await certificatesStore.saveCertificates()
  }
}
</script>
<template >
  <v-row justify="center">
    <v-dialog v-model="certificatesStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง Certificates</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-file-input
                    :clear-icon="mdiCloseCircle"
                    multiple
                    label="รูปงาน/เกียรติบัตร*"
                    v-model="certificatesStore.editedCertificates.image"
                    requiredv
                  ></v-file-input>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    :clear-icon="mdiCloseCircle"
                    label="คำอธิบาย*"
                    v-model="certificatesStore.editedCertificates.description"
                    required
                  ></v-textarea>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="ลิ้งค์ผลงาน"
                    v-model="certificatesStore.editedCertificates.link"
                    type="text"
                    pattern="https?://.*"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="certificatesStore.dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 