 <script setup lang="ts">



                                     
</script>

<template v-slot:prepend>
  <v-container>
    <div>
      <v-card class="auto" rounded="0">
        <v-avatar color="surface-variant" size="150">
          <v-img cover src="https://cdn.vuetifyjs.com/images/profiles/marcus.jpg"></v-img>
          <input type="file" id="image" @change="onFileChange" accept="image/*" required />
        </v-avatar>

        <v-list-item
          class="text-h3"
          title="Marcus Obrien"
          subtitle="Network Engineer"
        ></v-list-item>
      </v-card>

      <v-col></v-col>

      <v-card-text>
        <v-row>
          <v-col>
            <v-list-item class="text-h3" title="Profile"></v-list-item>
            <v-card variant="tonal"
              ><tr>
                <td >subtitle="Name (Eng)"</td></tr
            ></v-card>
          </v-col>
        </v-row>
      </v-card-text>

      <v-col></v-col>
      <v-list-item class="text-h3" title="Organization"></v-list-item>
      <v-card class="auto" rounded="0"> </v-card>

      <v-col></v-col>
      <v-list-item class="text-h3" title="Contact Info"></v-list-item>
      <v-card class="auto" rounded="0"> </v-card>
    </div>
  </v-container>
</template>
   
  