<script setup lang="ts" >
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useGeneralskillmappingStore } from "../../stores/generalskillmapping";
import type { VForm } from 'vuetify/components'


const generalskillmappingStore = useGeneralskillmappingStore()
const form = ref<VForm | null>(null);
const radios = ref< string>('');

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    const res = await generalskillmappingStore.saveGeneralskillmapping();
}
}

</script>
<template >
  <v-row justify="center">
    <v-dialog v-model="generalskillmappingStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง General Skill</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="PLO *"
                    v-model="generalskillmappingStore.editedGeneralskillmapping.PLO_id"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="รหัสวิชา *"
                    v-model="generalskillmappingStore.editedGeneralskillmapping.course"
                   
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="Name *"
                    v-model="generalskillmappingStore.editedGeneralskillmapping.namegeneral"
                    :rules="[
                      (v) => v.length >= 5 || 'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Level *"
                    v-model="generalskillmappingStore.editedGeneralskillmapping.expectLevel"
                    
                    required
                  ></v-text-field>
                </v-col>

              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="generalskillmappingStore.dialog = false"> Close </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 