<script setup lang="ts" >
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { usePLOStore } from "../../stores/plo";
import type { VForm } from 'vuetify/components'


const ploStore = usePLOStore()
const form = ref<VForm | null>(null);
const radios = ref< string>('');

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    const res = await ploStore.savePLO();
}
}

</script>
<template >
  <v-row justify="center">
    <v-dialog v-model="ploStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง PLO</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="PLO_ID*"
                    v-model="ploStore.editedPLO.PLO_id"
                    :rules="[
                      (v) => v.length >= 5 || 'PLO_ID จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="ด้าน*"
                    v-model="ploStore.editedPLO.PLO_aptitude"
                    :rules="[
                      (v) => v.length >= 3 || 'ด้าน จะต้องมีขนาดมากกว่าหรือเท่ากับ 3 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    :clear-icon="mdiCloseCircle"
                    label="ผลลัพธ์การเรียนรู้*"
                    v-model="ploStore.editedPLO.PLO_result"
                    :rules="[
                      (v) =>
                        v.length >= 5 || 'ผลลัพธ์การเรียนรู้ จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="ploStore.dialog = false"> Close </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 ../../stores/plo