<script setup lang="ts">
import { usePLOStore } from '../../stores/plo';
import type PLO from '../../types/PLO';
import { mdiDelete, mdiPencil, mdiPlus, mdiMagnify , mdiMenuLeft, mdiMenuRight} from '@mdi/js';
import { computed, onMounted, ref } from 'vue';
import PLODialog from './PLODialog.vue'; 

const ploStore = usePLOStore()
const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

const ploList = computed(() => {
  return ploStore.plos.filter((item) => {
    return item.PLO_id.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
  })
})

onMounted(async () => {
  await ploStore.getPLOs()
})

const deletePLO = (index: number): void => {
    ploStore.deletePLO(index)
}

const addNewPLO= () => {
    ploStore.dialog = true
}
const editPLO = (plo: PLO) => {
    ploStore.editPLO(plo)
    ploStore.dialog = true
}
const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  ploStore.deletePLO(id)
  closeDeleteConfirmation()
}
const itemsPerPage = 20
const currentPage = ref(1)

// Assuming plo is a computed property from your store

const totalPages = computed(() => Math.ceil(ploList.value.length / itemsPerPage))

const paginatedPlos = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return ploList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}

</script>

<template>
  <v-container>
    <h1 style="color: black; text-align:center">ผลลัพธ์การเรียนรู้ของหลักสูตร</h1>
    <PLODialog></PLODialog>
    <v-row >
      <v-col cols="8" offset="0">
        <v-text-field class="ma-3"
        :prepend-inner-icon="mdiMagnify"
        label="Search"
        v-model="searchText"
      ></v-text-field>
    </v-col>
      <v-col class="ma-5" cols="3" offset="0">
        <v-btn  v-if="role === 'Admin'" color="#00B15A" :prepend-icon="mdiPlus" @click="addNewPLO">Add New</v-btn>
      </v-col> 
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr class="bg-blue-darken-4">
              <th class="font-weight-black">ID</th>
              <th class="font-weight-black">PLO_ID</th>
              <th class="font-weight-black">ด้าน</th>
              <th class="font-weight-black">ผลลัพธ์การเรียนรู้</th>
              <th class="font-weight-black" v-if="role === 'Admin'">Operations</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedPlos" :key="item.id" class="bg-grey-lighten-5">
              <td>{{ item.id }}</td>
              <td >{{ item.PLO_id }}</td>
              <td >{{ item.PLO_aptitude }}</td>
              <td >{{ item.PLO_result }}</td>
              <td>
                <v-btn
                v-if="role === 'Admin'"
                  :icon="mdiPencil"
                  color="#00B15A"
                  class="ma-1"
                  
                  @click="ploStore.editPLO(item)"
                ></v-btn>
                <v-btn
                v-if="role === 'Admin'"
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>
              <td  v-if="role === 'Admin'"></td>
              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="ploList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>

      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>