<script setup lang="ts" >
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useSubjectStore } from '../../stores/subject'
import type { VForm } from 'vuetify/components'
const subjectStore = useSubjectStore()
const form = ref<VForm | null>(null)

// async function save() {
//   console.log(subjectStore.editedSubject);
//     const { valid } = await form.value!.validate();
//     if (valid) {
//       await subjectStore.saveSubject();
//   }
// }
const save = async () => {
  const { valid } = await form.value!.validate()
  if (valid) {
    await subjectStore.saveSubject()
  }
}
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="subjectStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง Subject</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Course*"
                    v-model="subjectStore.editedSubject.course"
                    :rules="[
                      (v) => !!v || 'Course จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 5 || 'Course จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัว'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="NameEng (ชื่อภาษาอังฤษ)*"
                    v-model="subjectStore.editedSubject.nameEng"
                    :rules="[
                      (v) => v.length >= 5 || 'NameEng จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="NameTh (ชื่อภาษาไทย)*"
                    v-model="subjectStore.editedSubject.nameTh"
                    :rules="[
                      (v) => v.length >= 5 || 'NameTh จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    clear
                    :icon="mdiCloseCircle"
                    label="คำอธิบายรายวิชา (ภาษาอังกฤษ)*"
                    v-model="subjectStore.editedSubject.descriptionEng"
                    :rules="[
                      (v) =>
                        v.length >= 5 || 'DescriptionEng จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-textarea>
                </v-col>

                <v-col cols="12">
                  <v-textarea
                    clearable
                    clear
                    :icon="mdiCloseCircle"
                    label="คำอธิบายรายวิชา (ภาษาไทย)*"
                    v-model="subjectStore.editedSubject.descriptionTh"
                    :rules="[
                      (v) =>
                        v.length >= 5 || 'DescriptionTh จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-textarea>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="subjectStore.dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 