<script lang="ts" setup>
import { useUserStore } from '../../stores/user'
import { onMounted, ref, computed } from 'vue'
import { mdiMagnify, mdiPlus, mdiDelete, mdiPencil , mdiMenuLeft, mdiMenuRight} from '@mdi/js'
import UserDialog from './UserDialog.vue'

const userStore = useUserStore()
const searchText = ref('')

const userList = computed(() => {
  return userStore.users.filter((item) => {
    if (item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1) {
      return item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
    } else if (item.email.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1) {
      return item.email.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
    } else {
      return item.role.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
    }
  })
})
const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  userStore.deleteUser(id)
  closeDeleteConfirmation()
}

const itemsPerPage = 20
const currentPage = ref(1)

// Assuming user is a computed property from your store

const totalPages = computed(() => Math.ceil(userList.value.length / itemsPerPage))

const paginatedUsers = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return userList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}

onMounted(async () => {
  await userStore.getUsers()
})
</script>
<template>
  <v-container>
    <h1 style="color: black; text-align: center">จัดการผู้ใช้งาน</h1>
    <UserDialog></UserDialog>
    <v-row>
      <v-col cols="8" offset="0">
        <v-text-field
          class="ma-3"
          :prepend-inner-icon="mdiMagnify"
          label="Search"
          v-model="searchText"
        ></v-text-field>
      </v-col>
      <v-col class="ma-5" cols="3" offset="0">
        <v-btn :prepend-icon="mdiPlus" @click="userStore.dialog = true" color="#00B15A"
          >Add New</v-btn
        >
      </v-col>
    </v-row>
    <v-col cols="12">
      <v-table>
        <thead>
          <tr class="bg-blue-darken-4">
            <th class="font-weight-black">ID</th>
            <th class="font-weight-black">Name</th>
            <th class="font-weight-black">Email</th>
            <th class="font-weight-black">Role</th>
            <th class="font-weight-black">Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in paginatedUsers" :key="item.id" class="bg-grey-lighten-5">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.role }}</td>
            <td>
              <v-btn
                :icon="mdiPencil"
                class="ma-1"
                color="#00B15A"
                @click="userStore.editUser(item)"
              ></v-btn
              ><v-btn
                :icon="mdiDelete"
                class="ma-1"
                color="red-accent-4"
                @click="showDeleteConfirmation"
              ></v-btn>
            </td>

            <!-- Add this confirmation dialog -->
            <v-dialog v-model="deleteConfirmationDialog" max-width="400">
              <v-card>
                <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                  <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </tr>
          <tr v-if="userList.length == 0">
            <td colspan="6" class="text-center" style="font-size: 200%">No Data</td>
          </tr>
        </tbody>
      </v-table>
      <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>

    </v-col>
  </v-container>
</template>
