<script setup lang="ts">
import InformationDialog from "./InformationDialog.vue";
import InformationList from "./InformationList.vue";
import { useInformationStore } from "@/stores/information";
import { mdiTable, mdiCardOutline } from "@mdi/js";

const informationStore = useInformationStore();
</script>

<template>
  <v-container>
    <v-row>
     
      <InformationDialog></InformationDialog>
    </v-row>
    <v-row class="justify-center">
      <v-btn :icon="mdiTable" flat @click="informationStore.isTable = true"></v-btn>
      <v-btn
        :icon="mdiCardOutline"
        flat
        @click="informationStore.isTable = false"
      ></v-btn>
    </v-row>
  </v-container>
</template>

<style scoped></style>
