<script setup lang="ts">
import LoginView from './views/LoginView.vue'
import LoadingDialog from './components/LoadingDialog.vue'
import { onMounted } from 'vue'
import { useLoginStore } from './stores/login'
import MessageDialog from './components/MessageDialog.vue'
import MainView from './views/MainView.vue'
import { useAuthStore } from './stores/auth'

const authStore = useAuthStore()

const loginStore = useLoginStore()
onMounted(() => {
  console.log('On Mounted')
  loginStore.loadData()
})
</script>

<template>
  <!-- <component :is="authStore.isLogin()  ? MainView : LoginView"></component> -->
  <LoginView v-if="!authStore.isLogin()" />
  <MainView v-if="authStore.isLogin()" @logout="authStore.logout()" />
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <!-- <RouterView></RouterView> -->
  <!-- <MainTeacher/> -->
</template>
<style scoped></style>
