<script setup  lang="ts">
import { ref } from 'vue'
import { mdiCloseCircle } from '@mdi/js'
import { useAddstudentStore } from '../../stores/addstudent'
import type { VForm } from 'vuetify/components'

const addstudentStore = useAddstudentStore()
const form = ref<VForm | null>(null)

async function save() {
  const { valid } = await form.value!.validate()

  if (valid) {
    await addstudentStore.saveAddstudent()
  }
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="addstudentStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">สร้าง Addstudent</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Id Student*"
                    v-model="addstudentStore.editedAddstudent.idstudent"
                    :rules="[
                      (v) => !!v || 'Id Student จะต้องไม่เป็นช่องว่าง',
                      (v) => v.length >= 5 || 'Id Student จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัว'
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6">
                  <v-text-field
                    label="Name (ชื่อ)*"
                    v-model="addstudentStore.editedAddstudent.name"
                    :rules="[
                      (v) => v.length >= 5 || 'Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="6">
                  <v-text-field
                    label="Lastname (นามสกุล)*"
                    v-model="addstudentStore.editedAddstudent.lastname"
                    :rules="[
                      (v) => v.length >= 5 || 'Lastname จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร'
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="6">
                  <v-combobox
                    label="Year *"
                   v-model="addstudentStore.editedAddstudent.year"
                    :items="[  '1',  '2', '3','4','5','6' ]"
                    variant="solo"
                  ></v-combobox>
                </v-col>
                
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue-darken-1" variant="text" @click="addstudentStore.dialog = false">
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
  
<style scoped></style>

 