<script  lang="ts" setup>
import { useAddstudentStore } from '../../stores/addstudent'
import type Addstudent from '../../types/Addstudent'
import { mdiDelete, mdiPencil, mdiPlus, mdiCloseCircle,mdiMagnify, mdiMenuLeft, mdiMenuRight } from '@mdi/js'
import { computed, onMounted, ref } from 'vue'
import  AddstudentDialog from './AddstudentDialog.vue'
const addstudentStore = useAddstudentStore()
const addNewAddstudent = () => {
  addstudentStore.dialog = true
}
const editAddstudent = (addstudent: Addstudent) => {
  addstudentStore.editAddstudent(addstudent)
  addstudentStore.dialog = true
}
const popupVisible = ref(false)

const showPopup = (content: string) => {
  popupContent.value = content
  popupVisible.value = true
}

const closePopup = () => {
  popupVisible.value = false
}
const popupContent = ref('')

const deleteConfirmationDialog = ref(false)

const showDeleteConfirmation = () => {
  deleteConfirmationDialog.value = true
}

const closeDeleteConfirmation = () => {
  deleteConfirmationDialog.value = false
}
const confirmDelete = (id: number) => {
  addstudentStore.deleteAddstudent(id)
  closeDeleteConfirmation()
}

const searchText = ref('')
const role = JSON.parse(localStorage.getItem('user')!).role

const addstudentList = computed(() => {
  return addstudentStore.addstudents.filter((item) => {
    return item.name.toLowerCase().indexOf(searchText.value.toLowerCase()) > -1
  })
})

const itemsPerPage = 20
const currentPage = ref(1)

// Assuming addstudents is a computed property from your store

const totalPages = computed(() => Math.ceil(addstudentList.value.length / itemsPerPage))

const paginatedAddstudents = computed(() => {
  const startIndex = (currentPage.value - 1) * itemsPerPage
  const endIndex = startIndex + itemsPerPage
  return addstudentList.value.slice(startIndex, endIndex)
})

function updatePage(page: number) {
  currentPage.value = page
}

onMounted(async () => {
  await addstudentStore.getAddstudents()
})
</script>

<template>
  <v-container>
    <h1 style="color: black; text-align:center">Add students</h1>
    <AddstudentDialog></AddstudentDialog> 
    <v-row>
      <v-col cols="8" offset="0">
      <v-text-field  class="ma-3"
        :prepend-inner-icon="mdiMagnify"
        label="Search"
        v-model="searchText"
      ></v-text-field>
    </v-col>
      <v-col  class="ma-5" cols="3" offset="0">
        <v-btn color="#00B15A" :prepend-icon="mdiPlus" @click="addNewAddstudent">Add New</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead>
            <tr class="bg-blue-darken-4">
              <th class="font-weight-black" >ID</th>
              <th class="font-weight-black">รหัสนิสิต</th>
              <th class="font-weight-black">ชื่อ</th>
              <th class="font-weight-black">นามสกุล</th>
              <th class="font-weight-black">ปีการศึกษา</th>
              <th class="font-weight-black" >Operations</th>
              <!-- <th>คำอธิบาย (ภาษาไทย)</th> -->

            </tr>
          </thead>
          <tbody>
            <tr v-for="item in paginatedAddstudents" :key="item.id" class="bg-grey-lighten-5">
              <td>{{ item.id }}</td>
              <td>{{ item.idstudent }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.lastname }}</td>
              <td>{{ item.year }}</td>

              <v-dialog v-model="popupVisible" max-width="400">
                <v-card>
                  <v-card-title>Description</v-card-title>
                  <v-card-text>{{ popupContent }}</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closePopup">ปิด</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <!-- Modify this part of your template -->
              <td>
                <v-btn
                  :icon="mdiPencil"
                  color="#00B15A"
                  class="ma-1"
                  @click="addstudentStore.editAddstudent(item)"
                ></v-btn>
                <v-btn
                  :icon="mdiDelete"
                  color="red-accent-4"
                  class="ma-1"
                  @click="showDeleteConfirmation"
                ></v-btn>
              </td>

              <!-- Add this confirmation dialog -->
              <v-dialog v-model="deleteConfirmationDialog" max-width="400">
                <v-card>
                  <v-card-text>ต้องการลบข้อมูลชุดนี้จริงหรือไม่?</v-card-text>
                  <v-card-actions>
                    <v-btn color="primary" @click="closeDeleteConfirmation">ยกเลิก</v-btn>
                    <v-btn color="error" @click="confirmDelete(item.id!)">ลบ</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </tr>
            <tr v-if="addstudentList.length == 0">
              <td colspan="4" class="text-center" style="font-size: 200%">No Data</td>
            </tr>
          </tbody>
        </v-table>
        <v-pagination
              v-model="currentPage"
              :length="totalPages"
              :next-icon="mdiMenuRight"
              :prev-icon="mdiMenuLeft"
              @input="updatePage"
            ></v-pagination>

      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
</style>
