<script lang="ts">
import { Vue } from 'vue-property-decorator';

export default class IndexView extends Vue {
  uploadedFile: {
    fileType: string;
    fileUrl: string;
    fileName: string;
  } = {
    fileType: '',
    fileUrl: '',
    fileName: ''
  };

  async handleFileUploading(file: File): Promise<void> {
    // add your fileuploading logic to server and set data to the uploadedFile
    this.uploadedFile.fileType = 'image'; // uploaded file type
    this.uploadedFile.fileUrl = 'https://picsum.photos/300/224'; // uploaded file url
    this.uploadedFile.fileName = file.name; // uploaded file name

    await new Promise(resolve => setTimeout(resolve, 2000));
  }
}
</script>
<div class="flex flex-wrap">
    <SingleFileUpload
       :uploadBtn="'Upload'"
       :progressBtn="'Uploading...'"
       :uploadedFile="uploadedFile"
       :callback="handleFileUploading"
     >
       <template v-slot="file">
         <!-- add your design or use from library examples -->
      </template>
    </SingleFileUpload>
 </div>